
.btn-h1-spacing {
    margin-top: 18px;
}

.form-spacing-top {
     margin-top: 30px;
}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}

.sources li {
  list-style: none;
  float: left;
  margin: 2px;
}

.sources li img {
  width: 70px;
  height: 40px:
}

.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555;
}
